<div class="row mt-5 mb-4">
    {{#each profile}}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card card-width">
            <div class="card-body text-center">
              <img src="img/person.jpg" class="img-fluid top rounded-circle w-50 mb-3">
              <h3 class="text-uppercase details">{{name}}</h3>
              <h5 class="text-muted">{{post}}</h5>
              <div class="card-description">
                  <p>{{truncate description}}</p>
              </div>
                <a href="/profile/{{id}}" class="btn btn-outline-danger my-2">More Details</a>
              <div class="d-flex justify-content-center">
                <div class="p-2">
                  <a href="{{social.facebook}}" target="_blank">
                    <i class="fab fa-facebook" aria-hidden="true"></i></a>
                </div>
                <div class="p-2">
                  <a href="{{social.twitter}}" target="_blank"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                </div>
                <div class="p-2">
                  <a href="{{social.linkedin}}" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                </div>
                <div class="p-2">
                  <a href="{{social.github}}" target="_blank"><i class="fab fa-github-square" aria-hidden="true"></i></a>
                </div>
                <div class="p-2">
                  <a href="{{social.instagram}}" target="_blank"><i class="fab fa-instagram" aria-hidden="true"></i></a>
                </div>
              </div>
            </div>
          </div>
    </div>
    {{else}}
    <div class="d-flex justify-content-center mb-4 no-employee">
      <div class="d-flex align-items-center">
        <p class="text-center ml-2 display-4 text-muted">No Employees Found</p>
      </div>
    </div>
    {{/each}}
</div>